/* Solo ajustes extra si quieres que los botones de bienvenida se vean un poco distintos */
.botones-columna .btn-principal {
    text-align: left;
    padding-left: 25px;
    font-size: 1rem;
}

.botones-columna .btn-principal:hover {
    background-color: #7d2250;
    transform: translateX(5px); /* Efecto de desplazamiento lateral */
}

/* Corregimos el typo de 'izk' y 'del' para que usen las clases de App.css */